*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    background-color: #0f1111;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#logo{
font-size: 25px;
color: #f08804;
}

a{
    margin-right: 200px;
    text-decoration: none;
}


#searchb{
    background-color: #f08804;
}



p{
    color: black;
}


footer{

    background-color: #0f1111;
    text-align: center;
    position: sticky;
  
    width: 100%;
    
    
}

