body {
    margin: 0;
}

#navbar{
    background-color: #dfdf80;
    display: flex;
    justify-content: space-evenly;
}


a{
    color: black;
    text-decoration: none;
}


li{
    list-style-type: none;
}

#outer{
    background-color: crimson;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
   
}

#inner{
   
    background-color: darkgreen;
    height: 200px;
    width: 200px;

}